.App {
  text-align: center;
  height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
    display: inline-flex;
    border: solid;
    border-width: 0px;
}

.main-table {
    margin: 1em;
    display: block;
}

.ticblock {
    padding: 9px;
    border: solid;
    border-width: 0.5px;
    background: beige;
    width: 10em;
    height: 10em;
}

img {
    max-height:100%;
    max-width:100%
}


